In [2]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import datasets

In [4]:
iris=datasets.load_iris()

In [6]:
df =pd.DataFrame(iris.data)

In [7]:
df

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [8]:
df=df.rename(columns={0:'SepalLengthCm',1:'SepalWidthCm',2:'PetalLengthCm',3:'PetalWidthCm'})

In [9]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [16]:
df['Species']=pd.Categorical.from_codes(iris.target,iris.target_names)

In [18]:
 setosa = df[df['Species']=='setosa'].iloc[:, :-1].values

In [19]:
setosa.mean()

np.float64(2.5355000000000003)

In [20]:
setosa.std()

np.float64(1.843716287827387)

In [23]:
setosa.quantile(0.25,0.50,0.75)

AttributeError: 'numpy.ndarray' object has no attribute 'quantile'

In [24]:
versicolor=df[df['Species']=='versicolor'].iloc[:, :-1].values

In [25]:
versicolor.mean()

np.float64(3.5729999999999995)

In [26]:
versicolor.std()

np.float64(1.757973549289067)