<a href="https://colab.research.google.com/github/vaibhavmurke/DSBDA/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data ={
    "Student_ID":[1,2,3,4,5,6,7,8],
    "Math_Score":[78,85,np.nan,90,45,10,67,88],
    "Science_Score":[72,80,75,np.nan,45,85,55,65],
    "English_Score":[65,70,68,75,np.nan,85,60,90],
    "Attendance_Percentage":[85,90,88,92,70,np.nan,80,99]
}
df=pd.DataFrame(data)
df

   Student_ID  Math_Score  Science_Score  English_Score  Attendance_Percentage
0           1        78.0           72.0           65.0                   85.0
1           2        85.0           80.0           70.0                   90.0
2           3         NaN           75.0           68.0                   88.0
3           4        90.0            NaN           75.0                   92.0
4           5        45.0           45.0            NaN                   70.0
5           6        10.0           85.0           85.0                    NaN
6           7        67.0           55.0           60.0                   80.0
7           8        88.0           65.0           90.0                   99.0

In [3]:
df.isnull().sum()

Student_ID               0
Math_Score               1
Science_Score            1
English_Score            1
Attendance_Percentage    1
dtype: int64

In [4]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
dtype: bool

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Student_ID             8 non-null      int64
 1   Math_Score             7 non-null      float64
 2   Science_Score          7 non-null      float64
 3   English_Score          7 non-null      float64
 4   Attendance_Percentage  7 non-null      float64
dtypes: float64(4), int64(1)
memory usage: 452.0 bytes

In [9]:
df.describe()

,Student_ID,Math_Score,Science_Score,English_Score,Attendance_Percentage
count,8.00000,7.000000,7.000000,7.000000,7.000000
mean,4.50000,66.142857,68.142857,73.285714,86.285714
std,2.44949,29.277002,14.170728,10.827654,9.286447
min,1.00000,10.000000,45.000000,60.000000,70.000000
25%,2.75000,56.000000,60.000000,66.500000,82.500000
50%,4.50000,78.000000,72.000000,70.000000,88.000000
75%,6.25000,86.500000,77.500000,80.000000,91.000000
max,8.00000,90.000000,85.000000,90.000000,99.000000

In [10]:
df.fillna(df.mean(),inplace=True)

In [11]:
df=df.clip(0,100)

In [12]:
def iqr_fix(col):
  Q1 = col.quantile(0.25)
  Q3 = col.quantile(0.75)
  IQR =Q3 - Q1
  return col.clip(Q1-1.5*IQR,Q3+1.5*IQR)

  for col in ["Math_Score","Science_Score","English_Score"]:
    df[col]=iqr_fix(df[col])

In [13]:
df["Attendance_Percentage"]=np.log1p(df["Attendance_Percentage"])

In [14]:
df

   Student_ID  Math_Score  Science_Score  English_Score  Attendance_Percentage
0           1   78.000000      72.000000      65.000000               4.454347
1           2   85.000000      80.000000      70.000000               4.510860
2           3   66.142857      75.000000      68.000000               4.488636
3           4   90.000000      68.142857      75.000000               4.532599
4           5   45.000000      45.000000      73.285714               4.262680
5           6   10.000000      85.000000      85.000000               4.469187
6           7   67.000000      55.000000      60.000000               4.394449
7           8   88.000000      65.000000      90.000000               4.605170